__pycache__
**/*.egg-info

**/*.csv
**/*.json
!ivcurves/ivcurve_jsonschema.json
!docs/sphinx/source/scores_database.json
!docs/sphinx/source/scores_database_jsonschema.json
!ivcurves/test_sets/*.csv
!ivcurves/test_sets/*.json
!submissions/**/*.*

docs/sphinx/build
docs/sphinx/**/generated
