__pycache__
**/*.egg-info

**/*.csv
**/*.json
!ivcurves/ivcurve_jsonschema.json
!docs/sphinx/source/scores_database.json
!test_sets/*.csv
!test_sets/*.json
!submissions/**/*.*

docs/sphinx/build
docs/sphinx/**/generated
